/versionhistory/
/filehosting/*.zip
/filehosting/*.wav
/filehosting/*.txt
/filehosting/*.jar
/secret toon zelda site/toonzelda/files/*.zip
/secret toon zelda site/toonzelda/files/fanart/*.zip
/secret toon zelda site/toonzelda/files/game/*.zip
/secret toon zelda site/toonzelda/files/game8bppsnes/*.zip
/secret toon zelda site/toonzelda/files/model/*.zip
/secret toon zelda site/toonzelda/files/nontoonzelda/*.zip
/secret toon zelda site/toonzelda/files/otherimages/*.zip
/secret toon zelda site/toonzelda/files/realobjects/*.zip
/secret toon zelda site/toonzelda/files/screenshots/*.zip
/wms merch store/merch/files/*.zip
/wms merch store/merch/files/*.jar