<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  
  
  
      <link rel="stylesheet" href="../pagecss/style.css">

  
</head>

<body>
  <h1>The WMS Merch Store</h1>
  	<div w3-include-html="../menubar.html"></div>
	<script src="../menubar.js"></script>
    <p></p>
<div>
  <h2>Test</h2>
  <center>
     <img src="" alt="" id="main" class="img img1">
  </center>
  <center>
  <h4>Free</h4>
  <p>Test</p>
   <a><button onclick="location.href='../merch/files/'" class="buy">Download Now!</button></a>
  </center>
</div>

</body>
</html>
