body {
  background-image: url("../../../banner.png"), url("../../../infinite.png");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
h1 {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
}
h2 {
  text-align: center;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
h4 {
  text-align: center;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
p {
  text-align: center;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
div {
  background-color: #ffffff;
  padding: 15px;
  image-rendering: pixelated;
}
.img1 {
  width: 45%;
  image-rendering: pixelated;
}
.buy {
  border-color: #999999;
  background-color: #666666;
  font-size: 30px;
  
}
a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  margin: 10px
}